*.bb_bak1
*.bb_bak2
*.bp_bak1
*.bp_bak2
src/Client.exe
src/GUE Max.exe
src/GUE.exe
src/Project Manager.exe
src/ProjectManager.exe
src/Server.exe
src/Data/Logs/*

src/Data/Logs/

*.bb_bak3

src/Tools/Modules_old/

src/Tools/toolsource_old/

*.iws

*.pdb
compiler/BlitzRC/src/libvorbis/win32/VS2010/.vs/*

compiler/BlitzRC/src/libvorbis/win32/VS2010/.vs/

compiler/BlitzRC/src/libvorbis/win32/VS2010/libvorbis/Win32/Release/

compiler/BlitzRC/src/libvorbis/win32/VS2010/libvorbisfile/Win32/Release/

compiler/BlitzRC/src/libvorbis/win32/VS2010/vorbisdec/Win32/Release/

compiler/BlitzRC/src/libvorbis/win32/VS2010/vorbisenc/Win32/Release/

compiler/BlitzRC/src/libvorbis/win32/VS2010/Win32/Release/vorbisenc_static.exe

compiler/BlitzRC/src/libvorbis/win32/VS2010/Win32/Release/vorbisdec_static.exe

*/ATTACH

compiler/Blitz3D/

compiler/Decls/Blitz3D/

release/

Project Manager.exe

bin/tools/*.exe

bin/Client.exe

bin/GUE.exe

bin/Server.exe

data/Logs/

data/RCTE/RCTE_SAVED/

compiler/BlitzPlus/src/_release/

bin/tools/RC Scriptorama/projects.txt

bin/tools/RC SkinCrafter/lastsettings.dat

compiler/BlitzPlus/cfg/blitzide.prefs
