<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target xsi:type="File" name="summaryLogFile"
            fileName="${specialfolder:folder=CommonApplicationData}/Freemake/FreemakeAudioConverter/SummaryLog.txt"/>

    <target xsi:type="File" name="sessionLogFile"
            fileName="${specialfolder:folder=CommonApplicationData}/Freemake/FreemakeAudioConverter/${processid}.txt"/>

    <target xsi:type="File" name="errorLogFile"
            fileName="${specialfolder:folder=CommonApplicationData}/Freemake/FreemakeAudioConverter/Errors.txt"
            layout="${longdate} ${message} ${exception:format=tostring}"/>

  </targets>

  <rules>
    <logger minlevel="Info" writeTo="summaryLogFile" />
    <logger minlevel="Info" writeTo="sessionLogFile" />
    <logger level="Error" writeTo="errorLogFile" />
  </rules>

</nlog>