*.sbl
*.plg
*.aps
*.ncb
*.opt
Debug
Release
_release
*__Win32_*
/innosetup/installs
asm_makeinsts/asm_makeinsts.vcxproj.user
bbruntime/bbruntime.vcxproj.filters
bbruntime/bbruntime.vcxproj.user
bbruntime_dll/bbruntime_dll.vcxproj.filters
*.user
*.sdf
*.filters
*.pro
*.bb
*.db
*.opendb
ipch/COMPILER-7ffd595e/COMPILER-401fa91.ipch
*.ipch
bblaunch/RCa00804
bbruntime_dll/RCa00804
blitzbasic/bin/debugger.dll
.vs